@import 'variables';

.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  padding: 15px;
  border-radius: 8px;
  background: rgba(#3a3a3a, 0.1);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card button {
  background: none;
  border: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: $primary;
  cursor: pointer;
}

.card button[disabled] {
  color: rgb(183, 183, 183);
  cursor: default;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
